In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
df_datos = pd.read_csv("datosProyecto.csv")
df_datos

,ID DEPATAMENTO,DEPARTAMENTO,ID MUNICIPIO,MUNICIPIO,ID LOCALIDAD,LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,DÍA DE DEMANDA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS
0,91,AMAZONAS,91001,LETICIA,91001000,LETICIA (LETICIA - AMAZONAS),2024,6,3994102,1010671.0,7824.51,Jueves,06/20/2024 03:30:00 PM,24.00
1,91,AMAZONAS,91540,PUERTO NARIÑO,91540000,PUERTO NARIÑO (PUERTO NARIÑO - AMAZONAS),2024,6,127838,40378.0,256.00,Miércoles,06/05/2024 06:15:00 PM,24.00
2,91,AMAZONAS,91798,TARAPACA (ANM),91798000,TARAPACA (TARAPACA (ANM) - AMAZONAS),2024,6,26578,11917.0,101.43,Jueves,06/20/2024 06:30:00 PM,10.18
3,88,ARCHIPIÉLAGO DE SAN ANDRÉS y PROVIDENCIA,88564,PROVIDENCIA,88564000,PROVIDENCIA (PROVIDENCIA - ARCHIPIÉLAGO DE SAN...,2024,6,1284196,274864.0,2241.56,Miércoles,06/12/2024 02:15:00 PM,24.00
4,13,BOLÍVAR,13001,CARTAGENA DE INDIAS,13001007,ISLA FUERTE (CARTAGENA DE INDIAS - BOLÍVAR),2024,6,60724,28336.0,265.63,Domingo,06/30/2024 08:00:00 PM,9.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4586,97,VAUPÉS,97161,CARURÚ,97161000,CARURÚ (CARURÚ - VAUPÉS),2024,9,35746,8582.0,92.14,martes,09/24/2024 06:30:00 PM,17.22
4587,97,VAUPÉS,97001,MITÚ,97001000,MITÚ (MITÚ - VAUPÉS),2024,9,1632356,385301.0,3355.10,martes,09/24/2024 01:00:00 PM,24.00
4588,97,VAUPÉS,97666,TARAIRA,97666000,TARAIRA (TARAIRA - VAUPÉS),2024,9,45482,12302.0,138.16,lunes,09/16/2024 12:30:00 PM,14.25
4589,99,VICHADA,99001,PUERTO CARREÑO,99001000,PUERTO CARREÑO (PUERTO CARREÑO - VICHADA),2024,9,2506803,703817.0,5147.12,jueves,09/12/2024 01:45:00 PM,24.00
4590,91,AMAZONAS,91001,LETICIA,91001000,LETICIA (LETICIA - AMAZONAS),2024,9,4468740,1128508.0,8735.74,viernes,09/20/2024 02:30:00 PM,24.00

In [22]:
# Datos maximos y minimos

max_EA = df_datos["ENERGÍA ACTIVA"].max()
min_EA = df_datos["ENERGÍA ACTIVA"].min()
print("Dato Maximo de Energía Activa:", max_EA)
print("Dato Minimo de Energía Activa:", min_EA)
print("")
max_ER = df_datos["ENERGÍA REACTIVA"].max()
min_ER = df_datos["ENERGÍA REACTIVA"].min()
print("Dato Maximo de Energía Reactiva:", max_ER)
print("Dato Minimo de Energía Reactiva:", min_ER)
print("")
min_PM = df_datos["POTENCIA MÁXIMA"].min()
max_PM = df_datos["POTENCIA MÁXIMA"].max()
print("Dato Maximo de Potencia Maxima:", max_PM)
print("Dato Minimo de Potencia Maxima:", min_PM)
print("")
min_PH = df_datos["PROMEDIO DIARIO EN HORAS"].min()
max_PH = df_datos["PROMEDIO DIARIO EN HORAS"].max()
print("Dato Maximo de Promedio Diario En Horas:", max_PH)
print("Dato Minimo de Promedio Diario En Horas:", min_PH)

Dato Maximo de Energía Activa: 20620916
Dato Minimo de Energía Activa: 0

Dato Maximo de Energía Reactiva: 5435213.0
Dato Minimo de Energía Reactiva: 0.0

Dato Maximo de Potencia Maxima: 34290.65
Dato Minimo de Potencia Maxima: 0.0

Dato Maximo de Promedio Diario En Horas: 508.0
Dato Minimo de Promedio Diario En Horas: 0.0

In [ ]:
# Datos nulos

print("1.", df_datos["ID DEPATAMENTO"].isnull().values.any())
print("2.", df_datos["DEPARTAMENTO"].isnull().values.any())
print("3.", df_datos["ID LOCALIDAD"].isnull().values.any())
print("4.", df_datos["LOCALIDAD"].isnull().values.any())
print("5.", df_datos["AÑO SERVICIO"].isnull().values.any())
print("6.", df_datos["MES SERVICIO"].isnull().values.any())
print("7.", df_datos["ENERGÍA ACTIVA"].isnull().values.any())
print("8.", df_datos["ENERGÍA REACTIVA"].isnull().values.any())
print("9.", df_datos["POTENCIA MÁXIMA"].isnull().values.any())
print("10.", df_datos["DÍA DE DEMANDA MÁXIMA"].isnull().values.any()) # Solo acá hay valores nulos
print("11.", df_datos["FECHA DE DEMANDA MÁXIMA"].isnull().values.any())
print("12.", df_datos["PROMEDIO DIARIO EN HORAS"].isnull().values.any())
print("13.", df_datos["ID MUNICIPIO"].isnull().values.any())
print("14.", df_datos["MUNICIPIO"].isnull().values.any())

1. False
2. False
3. False
4. False
5. False
6. False
7. False
8. False
9. False
10. True
11. False
12. False
13. False
14. False

In [ ]:
# Cuantos valores nulos hay

df_datos["DÍA DE DEMANDA MÁXIMA"].isnull().sum() # Solo hay 1 valor nulo
df_datos[df_datos["DÍA DE DEMANDA MÁXIMA"].isna()] # Fila donde está el valor nulo
# Nota: la fecha de demanda maxima dice 07/20/2024, creo yo que ese debe ser el día que debería estar en el dato nulo.
# Solo sería buscar que día fue y llenarlo en el data frame
# Nota 2: El 20 de julio de 2024 fue un sábado.

,ID DEPATAMENTO,DEPARTAMENTO,ID MUNICIPIO,MUNICIPIO,ID LOCALIDAD,LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,DÍA DE DEMANDA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS
114,27,CHOCÓ,27099,BOJAYÁ,27099002,LA LOMA DE BOJAYÁ (BOJAYÁ (BELLAVISTA) - CHOCÓ),2024,7,9539,3531.0,51.2,NaN,07/20/2024 07:30:00 PM,8.1

In [ ]:
# Comprobación que solo hay un dato vacio en el dataframe
df_datos.isnull().sum().sum()

np.int64(1)