In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [31]:
df_datos = pd.read_csv("../data/datosProyecto.csv")
df_datos

,ID DEPATAMENTO,DEPARTAMENTO,ID MUNICIPIO,MUNICIPIO,ID LOCALIDAD,LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,DÍA DE DEMANDA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS
0,91,AMAZONAS,91001,LETICIA,91001000,LETICIA (LETICIA - AMAZONAS),2024,6,3994102,1010671.0,7824.51,Jueves,06/20/2024 03:30:00 PM,24.00
1,91,AMAZONAS,91540,PUERTO NARIÑO,91540000,PUERTO NARIÑO (PUERTO NARIÑO - AMAZONAS),2024,6,127838,40378.0,256.00,Miércoles,06/05/2024 06:15:00 PM,24.00
2,91,AMAZONAS,91798,TARAPACA (ANM),91798000,TARAPACA (TARAPACA (ANM) - AMAZONAS),2024,6,26578,11917.0,101.43,Jueves,06/20/2024 06:30:00 PM,10.18
3,88,ARCHIPIÉLAGO DE SAN ANDRÉS y PROVIDENCIA,88564,PROVIDENCIA,88564000,PROVIDENCIA (PROVIDENCIA - ARCHIPIÉLAGO DE SAN...,2024,6,1284196,274864.0,2241.56,Miércoles,06/12/2024 02:15:00 PM,24.00
4,13,BOLÍVAR,13001,CARTAGENA DE INDIAS,13001007,ISLA FUERTE (CARTAGENA DE INDIAS - BOLÍVAR),2024,6,60724,28336.0,265.63,Domingo,06/30/2024 08:00:00 PM,9.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4586,97,VAUPÉS,97161,CARURÚ,97161000,CARURÚ (CARURÚ - VAUPÉS),2024,9,35746,8582.0,92.14,martes,09/24/2024 06:30:00 PM,17.22
4587,97,VAUPÉS,97001,MITÚ,97001000,MITÚ (MITÚ - VAUPÉS),2024,9,1632356,385301.0,3355.10,martes,09/24/2024 01:00:00 PM,24.00
4588,97,VAUPÉS,97666,TARAIRA,97666000,TARAIRA (TARAIRA - VAUPÉS),2024,9,45482,12302.0,138.16,lunes,09/16/2024 12:30:00 PM,14.25
4589,99,VICHADA,99001,PUERTO CARREÑO,99001000,PUERTO CARREÑO (PUERTO CARREÑO - VICHADA),2024,9,2506803,703817.0,5147.12,jueves,09/12/2024 01:45:00 PM,24.00
4590,91,AMAZONAS,91001,LETICIA,91001000,LETICIA (LETICIA - AMAZONAS),2024,9,4468740,1128508.0,8735.74,viernes,09/20/2024 02:30:00 PM,24.00

#Exploracion Básica

In [ ]:
# Ver las primeras filas 

primeras_filas=df_datos.head()
primeras_filas

## los datos de las primeras fillas nos indican que 
## | **Columna**                | **Descripción**                                                                                         |
## | -------------------------- | ------------------------------------------------------------------------------------------------------- |
## | `ID DEPARTAMENTO`          | Código numérico del departamento (por ejemplo, 91 = Amazonas).                                          |
## | `DEPARTAMENTO`             | Nombre del departamento.                                                                                |
## | `ID MUNICIPIO`             | Código DANE del municipio.                                                                              |
## | `MUNICIPIO`                | Nombre del municipio.                                                                                   |
## | `ID LOCALIDAD`             | Código único para cada localidad (combinación de municipio y localidad).                                |
## | `LOCALIDAD`                | Nombre de la localidad con contexto (ej. "LETICIA (LETICIA - AMAZONAS)").                               |
## | `AÑO SERVICIO`             | Año del registro del consumo de energía.                                                                |
## | `MES SERVICIO`             | Mes del registro del consumo de energía.                                                                |
## | `ENERGÍA ACTIVA`           | Cantidad total de energía activa consumida en el mes (en kWh).                                          |
## | `ENERGÍA REACTIVA`         | Cantidad de energía reactiva consumida (en kVARh), relacionada con la eficiencia del sistema eléctrico. |
## | `POTENCIA MÁXIMA`          | Potencia máxima registrada en el mes (en kW).                                                           |
## | `DÍA DE DEMANDA MÁXIMA`    | Día de la semana en que ocurrió el pico de consumo.                                                     |
## | `FECHA DE DEMANDA MÁXIMA`  | Fecha y hora exacta del momento de mayor demanda energética.                                            |
## | `PROMEDIO DIARIO EN HORAS` | Promedio de horas al día en las que hubo servicio de energía eléctrica en esa localidad durante el mes. |

,ID DEPATAMENTO,DEPARTAMENTO,ID MUNICIPIO,MUNICIPIO,ID LOCALIDAD,LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,DÍA DE DEMANDA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS
0,91,AMAZONAS,91001,LETICIA,91001000,LETICIA (LETICIA - AMAZONAS),2024,6,3994102,1010671.0,7824.51,Jueves,06/20/2024 03:30:00 PM,24.00
1,91,AMAZONAS,91540,PUERTO NARIÑO,91540000,PUERTO NARIÑO (PUERTO NARIÑO - AMAZONAS),2024,6,127838,40378.0,256.00,Miércoles,06/05/2024 06:15:00 PM,24.00
2,91,AMAZONAS,91798,TARAPACA (ANM),91798000,TARAPACA (TARAPACA (ANM) - AMAZONAS),2024,6,26578,11917.0,101.43,Jueves,06/20/2024 06:30:00 PM,10.18
3,88,ARCHIPIÉLAGO DE SAN ANDRÉS y PROVIDENCIA,88564,PROVIDENCIA,88564000,PROVIDENCIA (PROVIDENCIA - ARCHIPIÉLAGO DE SAN...,2024,6,1284196,274864.0,2241.56,Miércoles,06/12/2024 02:15:00 PM,24.00
4,13,BOLÍVAR,13001,CARTAGENA DE INDIAS,13001007,ISLA FUERTE (CARTAGENA DE INDIAS - BOLÍVAR),2024,6,60724,28336.0,265.63,Domingo,06/30/2024 08:00:00 PM,9.40

In [ ]:
# Tamaño del dataset
 
tamaño_dataset=df_datos.shape
tamaño_dataset

# en este caso el numero de filas que tiene nuestro archivo es 4591 y columnnas 14

(4591, 14)

In [ ]:
# Nombre de Columnas 

nombres_columnas=df_datos.columns
nombres_columnas

# como observamos nuestros datos estan catalogados de la siguiente manera y se observa un error en el apartado de departamento

Index(['ID DEPATAMENTO', 'DEPARTAMENTO', 'ID MUNICIPIO', 'MUNICIPIO',
       'ID LOCALIDAD', 'LOCALIDAD', 'AÑO SERVICIO', 'MES SERVICIO',
       'ENERGÍA ACTIVA', 'ENERGÍA REACTIVA', 'POTENCIA MÁXIMA',
       'DÍA DE DEMANDA MÁXIMA', 'FECHA DE DEMANDA MÁXIMA',
       'PROMEDIO DIARIO EN HORAS'],
      dtype='object')

In [27]:
# Correcion apartado ID DEPARTAMENTO ( RENOMBRAR)

df_datos.rename(columns={'ID DEPATAMENTO':'ID DEPARTAMENTO'}, inplace=True)

In [19]:
 # Tipo de cada Columna 

tipo_cd_columna=df_datos.dtypes
tipo_cd_columna

ID DEPARTAMENTO               int64
DEPARTAMENTO                 object
ID MUNICIPIO                  int64
MUNICIPIO                    object
ID LOCALIDAD                  int64
LOCALIDAD                    object
AÑO SERVICIO                  int64
MES SERVICIO                  int64
ENERGÍA ACTIVA                int64
ENERGÍA REACTIVA            float64
POTENCIA MÁXIMA             float64
DÍA DE DEMANDA MÁXIMA        object
FECHA DE DEMANDA MÁXIMA      object
PROMEDIO DIARIO EN HORAS    float64
dtype: object

In [20]:
# Resumen Estadistico 

resumen_estadistico=df_datos.describe()
resumen_estadistico

,ID DEPARTAMENTO,ID MUNICIPIO,ID LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,PROMEDIO DIARIO EN HORAS
count,4591.000000,4591.000000,4.591000e+03,4591.000000,4591.000000,4.591000e+03,4.591000e+03,4591.000000,4591.000000
mean,44.947288,45341.840775,4.534189e+07,2021.963842,6.477020,3.692386e+05,1.085336e+05,715.421464,12.065265
std,28.547393,28505.810987,2.850581e+07,1.410511,3.495385,1.812247e+06,4.896188e+05,3140.805719,10.467295
min,0.000000,5873.000000,5.873000e+06,2020.000000,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,27.000000,27001.000000,2.700103e+07,2021.000000,3.000000,4.950500e+03,1.984000e+03,31.555000,6.280000
50%,27.000000,27615.000000,2.761591e+07,2022.000000,7.000000,1.229200e+04,4.962000e+03,64.800000,8.590000
75%,52.000000,52835.000000,5.283515e+07,2023.000000,9.000000,8.346300e+04,2.987500e+04,218.940000,19.145000
max,99.000000,99773.000000,9.977300e+07,2024.000000,12.000000,2.062092e+07,5.435213e+06,34290.650000,508.000000

In [ ]:
# ANALISIS DE LOS DATOS ARROJADOS 

# METRICA	     SIGNIFICADO

# count	         Cantidad de datos no nulos
# mean	         Promedio
# std        	 Desviación estándar (variabilidad de los datos)
# min	         Valor mínimo
# 25%	         Primer cuartil (percentil 25)
# 50%	         Mediana (percentil 50)
# 75%	         Tercer cuartil (percentil 75)
# max	         Valor máximo

In [26]:
# Valores Unicos por columna 

valores_unicos_columna=df_datos.nunique()
valores_unicos_columna

ID DEPARTAMENTO               19
DEPARTAMENTO                  26
ID MUNICIPIO                  53
MUNICIPIO                     95
ID LOCALIDAD                 153
LOCALIDAD                    327
AÑO SERVICIO                   5
MES SERVICIO                  12
ENERGÍA ACTIVA              4272
ENERGÍA REACTIVA            3990
POTENCIA MÁXIMA             3370
DÍA DE DEMANDA MÁXIMA         16
FECHA DE DEMANDA MÁXIMA     4154
PROMEDIO DIARIO EN HORAS    1288
dtype: int64

In [36]:
#Clasificacion de las variables 

categoricas=df_datos.select_dtypes(include='object').columns
numericas=df_datos.select_dtypes(include=['int64','float64']).columns

print("Variables categóricas:", list(categoricas))
print("Variables numéricas:", list(numericas))

Variables categóricas: ['DEPARTAMENTO', 'MUNICIPIO', 'LOCALIDAD', 'DÍA DE DEMANDA MÁXIMA', 'FECHA DE DEMANDA MÁXIMA']
Variables numéricas: ['ID DEPATAMENTO', 'ID MUNICIPIO', 'ID LOCALIDAD', 'AÑO SERVICIO', 'MES SERVICIO', 'ENERGÍA ACTIVA', 'ENERGÍA REACTIVA', 'POTENCIA MÁXIMA', 'PROMEDIO DIARIO EN HORAS']

In [33]:
# Limpiar espacios antes y después de los nombres de columnas
df_datos.columns = df_datos.columns.str.strip()

In [38]:
# Resumen Estadistico de las variables numericas 

estadistico_numerico=df_datos[numericas].describe()
estadistico_numerico

,ID DEPATAMENTO,ID MUNICIPIO,ID LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,PROMEDIO DIARIO EN HORAS
count,4591.000000,4591.000000,4.591000e+03,4591.000000,4591.000000,4.591000e+03,4.591000e+03,4591.000000,4591.000000
mean,44.947288,45341.840775,4.534189e+07,2021.963842,6.477020,3.692386e+05,1.085336e+05,715.421464,12.065265
std,28.547393,28505.810987,2.850581e+07,1.410511,3.495385,1.812247e+06,4.896188e+05,3140.805719,10.467295
min,0.000000,5873.000000,5.873000e+06,2020.000000,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,27.000000,27001.000000,2.700103e+07,2021.000000,3.000000,4.950500e+03,1.984000e+03,31.555000,6.280000
50%,27.000000,27615.000000,2.761591e+07,2022.000000,7.000000,1.229200e+04,4.962000e+03,64.800000,8.590000
75%,52.000000,52835.000000,5.283515e+07,2023.000000,9.000000,8.346300e+04,2.987500e+04,218.940000,19.145000
max,99.000000,99773.000000,9.977300e+07,2024.000000,12.000000,2.062092e+07,5.435213e+06,34290.650000,508.000000

In [40]:
# Frecuencia de Categorias

for col in categoricas:
     print(f"\nFrecuencia en {col}:\n", df_datos[col].value_counts())

Frecuencia en DEPARTAMENTO:
 DEPARTAMENTO
CHOCÓ                                                       1243
NARIÑO                                                       859
CAUCA                                                        676
CAQUETÁ                                                      212
VICHADA                                                      209
VAUPÉS                                                       168
VALLE DEL CAUCA                                              164
AMAZONAS                                                     161
BOLÍVAR                                                      148
GUAINÍA                                                      112
CHOCO                                                        102
ANTIOQUIA                                                     95
PUTUMAYO                                                      89
ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANTA CATALINA      65
MAGDALENA                                                     59
META                                                          57
LA GUAJIRA                                                    52
GUAVIARE                                                      50
CASANARE                                                      30
ARCHIPIÉLAGO DE SAN ANDRÉS y PROVIDENCIA                      22
ARCHIPIÉLAGO DE SAN ANDRÉS                                     6
BOLIVAR                                                        3
CAQUETA                                                        3
ARCHIPIELAGO DE SAN ANDRES                                     2
VAUPES                                                         2
GUAINIA                                                        2
Name: count, dtype: int64

Frecuencia en MUNICIPIO:
 MUNICIPIO
TIMBIQUÍ                    331
LÓPEZ DE MICAY              226
LA TOLA                     224
EL CHARCO                   198
SAN ANDRÉS DE TUMACO        174
                           ...
ALTO BAUDO (PIE DE PATO)      1
QUIBDO                        1
CIENAGA                       1
INIRIDA                       1
MITU                          1
Name: count, Length: 95, dtype: int64

Frecuencia en LOCALIDAD:
 LOCALIDAD
PUERTO CARREÑO (PUERTO CARREÑO - VICHADA)        59
LETICIA (LETICIA - AMAZONAS)                     58
PALMOR (CIÉNAGA - MAGDALENA)                     58
GUACAMAYAS (SAN VICENTE DEL CAGUÁN - CAQUETÁ)    57
MULATOS (LA TOLA - NARIÑO)                       57
                                                 ..
SAN FRANCISCO (ACANDÍ - CHOCO)                    1
BUENAVISTA (BAJO BAUDÓ (PIZARRO) - CHOCO)         1
PANAMACITO (ISTMINA - CHOCÓ)                      1
POGUE (BOJAYÁ - CHOCÓ)                            1
GALVEZ (BUENAVENTURA - VALLE DEL CAUCA)           1
Name: count, Length: 327, dtype: int64

Frecuencia en DÍA DE DEMANDA MÁXIMA:
 DÍA DE DEMANDA MÁXIMA
jueves       606
sábado       605
viernes      530
miércoles    521
martes       485
lunes        446
domingo      310
Viernes      178
Miércoles    167
Martes       151
Sábado       149
Jueves       141
Lunes        134
Domingo      111
Miercoles     35
Sabado        21
Name: count, dtype: int64

Frecuencia en FECHA DE DEMANDA MÁXIMA:
 FECHA DE DEMANDA MÁXIMA
12/31/2022 07:15:00 PM    5
12/31/2020 07:45:00 PM    5
05/01/2024 12:00:00 PM    5
09/01/2024 12:00:00 AM    4
10/28/2021 07:00:00 PM    4
                         ..
10/04/2022 05:45:00 PM    1
10/24/2022 06:15:00 PM    1
10/21/2022 06:00:00 PM    1
10/07/2022 06:45:00 PM    1
10/12/2022 07:00:00 PM    1
Name: count, Length: 4154, dtype: int64

In [ ]:
# Datos maximos y minimos

max_EA = df_datos["ENERGÍA ACTIVA"].max()
min_EA = df_datos["ENERGÍA ACTIVA"].min()
print("Dato Maximo de Energía Activa:", max_EA)
print("Dato Minimo de Energía Activa:", min_EA)
print("")
max_ER = df_datos["ENERGÍA REACTIVA"].max()
min_ER = df_datos["ENERGÍA REACTIVA"].min()
print("Dato Maximo de Energía Reactiva:", max_ER)
print("Dato Minimo de Energía Reactiva:", min_ER)
print("")
min_PM = df_datos["POTENCIA MÁXIMA"].min()
max_PM = df_datos["POTENCIA MÁXIMA"].max()
print("Dato Maximo de Potencia Maxima:", max_PM)
print("Dato Minimo de Potencia Maxima:", min_PM)
print("")
min_PH = df_datos["PROMEDIO DIARIO EN HORAS"].min()
max_PH = df_datos["PROMEDIO DIARIO EN HORAS"].max()
print("Dato Maximo de Promedio Diario En Horas:", max_PH)
print("Dato Minimo de Promedio Diario En Horas:", min_PH)

Dato Maximo de Energía Activa: 20620916
Dato Minimo de Energía Activa: 0

Dato Maximo de Energía Reactiva: 5435213.0
Dato Minimo de Energía Reactiva: 0.0

Dato Maximo de Potencia Maxima: 34290.65
Dato Minimo de Potencia Maxima: 0.0

Dato Maximo de Promedio Diario En Horas: 508.0
Dato Minimo de Promedio Diario En Horas: 0.0

In [22]:
#Valores Nulos 

valores_nulos=df_datos.isnull().sum()
valores_nulos

ID DEPARTAMENTO             0
DEPARTAMENTO                0
ID MUNICIPIO                0
MUNICIPIO                   0
ID LOCALIDAD                0
LOCALIDAD                   0
AÑO SERVICIO                0
MES SERVICIO                0
ENERGÍA ACTIVA              0
ENERGÍA REACTIVA            0
POTENCIA MÁXIMA             0
DÍA DE DEMANDA MÁXIMA       1
FECHA DE DEMANDA MÁXIMA     0
PROMEDIO DIARIO EN HORAS    0
dtype: int64

In [ ]:
# Datos nulos

print("1.",  df_datos ["ID DEPATAMENTO"].isnull().values.any())
print("2.",  df_datos ["DEPARTAMENTO"].isnull().values.any())
print("3.",  df_datos ["ID LOCALIDAD"].isnull().values.any())
print("4.",  df_datos ["LOCALIDAD"].isnull().values.any())
print("5.",  df_datos ["AÑO SERVICIO"].isnull().values.any())
print("6.",  df_datos ["MES SERVICIO"].isnull().values.any())
print("7.",  df_datos ["ENERGÍA ACTIVA"].isnull().values.any())
print("8.",  df_datos ["ENERGÍA REACTIVA"].isnull().values.any())
print("9.",  df_datos ["POTENCIA MÁXIMA"].isnull().values.any())
print("10.", df_datos ["DÍA DE DEMANDA MÁXIMA"].isnull().values.any()) # Solo acá hay valores nulos
print("11.", df_datos ["FECHA DE DEMANDA MÁXIMA"].isnull().values.any())
print("12.", df_datos ["PROMEDIO DIARIO EN HORAS"].isnull().values.any())
print("13.", df_datos ["ID MUNICIPIO"].isnull().values.any())
print("14.", df_datos ["MUNICIPIO"].isnull().values.any())

1. False
2. False
3. False
4. False
5. False
6. False
7. False
8. False
9. False
10. True
11. False
12. False
13. False
14. False

In [ ]:
# Cuantos valores nulos hay

df_datos["DÍA DE DEMANDA MÁXIMA"].isnull().sum() # Solo hay 1 valor nulo
df_datos[df_datos["DÍA DE DEMANDA MÁXIMA"].isna()] # Fila donde está el valor nulo
# Nota: la fecha de demanda maxima dice 07/20/2024, creo yo que ese debe ser el día que debería estar en el dato nulo.
# Solo sería buscar que día fue y llenarlo en el data frame
# Nota 2: El 20 de julio de 2024 fue un sábado.

,ID DEPATAMENTO,DEPARTAMENTO,ID MUNICIPIO,MUNICIPIO,ID LOCALIDAD,LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,DÍA DE DEMANDA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS
114,27,CHOCÓ,27099,BOJAYÁ,27099002,LA LOMA DE BOJAYÁ (BOJAYÁ (BELLAVISTA) - CHOCÓ),2024,7,9539,3531.0,51.2,NaN,07/20/2024 07:30:00 PM,8.1

In [ ]:
# Comprobación que solo hay un dato vacio en el dataframe
df_datos.isnull().sum().sum()

np.int64(1)